@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFC8E6;
}

.main {
    padding: 100px;
    background-color: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    width: 1213px;
    height: 830px;
    margin: 5px 150px;
}

h1 {
    color: #151B32;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 24px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #BFC8E6;
    border-radius: 4px;
    flex-direction: row;
    padding: 16px;
    gap: 8px;
    width: 327px;
    height: 64px;
}

.search p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #151B32;
    opacity: 0.7;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    color: #151B32;
    opacity: 0.8;
}

.buttons div {
    padding: 16px;
}

.new-users {
    background: #849FFF;
    border-radius: 8px;
    color: #FFFFFF;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 70px;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 327px;
    height: 208px;
    background: #FBFCFF;
    border-radius: 16px;
}

.card2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    background: #FBFCFF;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;
}

.names {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    color: #151B32;
}

.places {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #151B32;
}

.interests {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex-wrap: wrap;
}

.interests div {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: #516FD5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}