#item {
    background-color: rgb(28, 177, 28);
    text-align: center;
     padding: 20px;
     border-radius: 5px;
}
.item1 {
    display: flex; 
    text-align: center;
    margin: 50px 0px;
}
.title1 {
    padding: 35px;
    border-radius: 7px;
    background-color: rgb(28, 177, 28);
}
.title2 {
    padding: 35px;
    border-radius: 5px;
    background-color: rgb(28, 177, 28);
    margin-left: 120px;
    margin-right: 120px;
}
.title3 {
    padding: 35px;
    border-radius: 5px;
    background-color: rgb(28, 177, 28);
}
.item_end {
    background-color: rgb(28, 177, 28);
    text-align: center;
    padding: 35px;
    border-radius: 5px;
}