* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.15;
}
li {
    list-style: none;
  }
nav {
    padding: 15px;
    width: 100%;
    display: flex;
    background: #c7c392;
  }
nav .nav-content {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
  }
nav .nav-content ul {
    display: flex;
  }
    
nav .nav-content ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
  }
  
nav .nav-content ul li a:hover {
    color: #fff;
  }
h3 {
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #bebebe;
    display: inline-block;
    color: 555;
}
#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.headline {
    text-align: center;
    margin: 40px 0px;
}
ul.cake {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.cake li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
ul.cake li img {
    max-width: 100%;
    height: auto;
}
ul.cake li .cake-top {
    position: relative;
    overflow: hidden;
}
ul.cake li .cake-top .cake-thumb {
    display: block;
}
ul.cake li .cake-top .cake-thumb img {
    display: block;
}
ul.cake li:hover .cake-top .cake-thumb img {
    filter: opacity(90%);
}
ul.cake li .cake-top a.buy-now {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
ul.cake li:hover a.buy-now {
    bottom: 0px;
}
ul.cake li .cake-info {
    padding: 10px 0px;
}
ul.cake li .cake-info a {
    display: block;
    text-decoration: none;
}
ul.cake li .cake-info a.cake-cat {
    font-size: 11px;
    padding: 3px 0px;
}
ul.cake li .cake-info a.cake-name {
    padding: 3px 0px;
}
ul.cake li .cake-info .cake-price {
    padding: 2px 0px;
    font-weight: 600;
}